<!doctype html>
<html>
<head>
 <meta charset= 'utf-8'>
 <link rel="stylesheet" type="text/css" href="/style.css"> 
  <title>Cookbook</title>
</head>
<body>
<header>
<h1>Cookbook &ndash; Greed is Good</h1>
</header>


<nav>
<ul>
<li><a href="/">home</a></li>
<li><a href="/categories">categories</a></li>
<li><a href="/recipes">recipes</a></li>
<li><a href="/ingredients">ingredients</a></li>
</ul>
</nav>

<%= yield %>

</body>
</html>