<dl>
  <dt>
    <label for='category_name'>Name:</label>
  </dt>
  <dd>
    <input id='category_name' type='text' name='category[name]' value='<%=@category.name %>' autofocus>
  </dd>
<dd>
    <input id='category_cost' type='text' name='category[cost]' value='<%=@category.cost %>' autofocus>
  </dd>
</dl>