<ul>
<% @categories.each do |category|inspect%>
<li>
<%= category.name %> <%= category.cost %>
<a href "/categories/<%= category.id %>/edit">edit</a>
</li>
<% end %>

<li><a href="/categories/new">new category</a></li>

</ul>

