<h1>Show me the money!</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Current balance</th>
    <th>Savings balance</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= link_to user.name, user %></td>
    <td><%= user.current_balance %></td>
    <td><%= user.savings_balance %></td>
    
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>
