h1 {
  font-family:"lato";
  color: red;
}

h2 {

}

li {
  display: inline-block;
}


aside {
  text-align: left;
  margin: 20px;
}


article {
  float: left;
  width: 60%;
  margin: 20px;
  margin-left: 40px;

}

img {
  display: block;

}

.resize {
  max-width: 100%;

}


footer {
  text-align: right;
}

h1 a{
 color: red;
 text-decoration: none;

}

h1,h2{
  display: inline-block;
}

.sub-heading {
  margin-left: 20px;
  color: grey;
}

nav li {
  padding: 20px;
  background-color: black;
  width: 100px;
  text-align: center;
}
nav li a {
  color: white;
  text-decoration: none;

}
