<!doctype html>
<html>
<head>
  <title>Todo list</title>
</head>
<body>
  <header>
    <nav>
      <ul>
        <li>
          <a href="/items">all items</a>
        </li>
        <li>
          <a href="/items/new">new item</a>
        </li>
      </ul>
    </nav>
  </header>
  <%= yield %>
</body>
</html>