<% if @item %>


<h1> <%= @item['title'] %></h1>

<p><%= @item['details'] %></p>

<a href="/items/<%= @item['id'] %>/delete">DELETE! (beware, there's no undelete)</a>

<br>
<br>

<a href="/items/:id/edit">Please Click Here To Edit</a>

<% else %>
  <p>can't find that one</p>
<% end %>

