<!DOCTYPE html>
<html>
<head>
  <title>MemeTube</title>
  <link rel='stylesheet'  href='/style.css'>
</head>
<body>
  <header>
    <h1>Memetube.com!</h1>
  </header>
  

  <%= yield %>
</body>

</html>